.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin: 2.5rem 0;
}
.collapse {
  text-align: center;
}
.collapse_btn {
  border: 0.1rem solid #fd5602;
  background: transparent;
  border-radius: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  transition: all 0.3s linear;
}
.collapse_btn:hover {
  background-color: #fd5602;
  color: #fff;
}
@media screen and (max-width: 880px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 300px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
