.item_section {
  width: 100%;
  background: #e8e9eb;
}
.item_section_header {
  width: 80%;
  margin: auto;
}
.item_section_header p {
  font-size: 2rem;
}
.flex_item {
  padding: 2rem 0;
}
.total_items {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
