.section {
  width: 100%;
  height: 60vh;
  background: url(../../assests/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.section::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.first_sec_heading {
  position: absolute;
  color: white;
  font-size: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  z-index: 99;
}
span {
  color: #fd5602;
}
.first_section_btn {
  width: 100%;
}
.btn {
  z-index: 99;
  padding: 1rem 1.8rem;
  font-size: 2rem;
  border: 0.2rem solid hsl(20, 98%, 50%);
  background: transparent;
  color: #fd5602;
  outline: none;
  color: #fd5602;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 8%;
  left: 50%;
  font-weight: 600;
  transform: translateX(-50%);
  transition: all 0.3s linear;
}
.btn:hover {
  background-color: #fd5602;
  color: #fff;
}

@media screen and (max-width: 760px) {
  .first_sec_heading {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  .btn {
    width: max-content;
  }
}
